@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
.logo {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 25%;
  border: none;
  border-radius: 5px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}
.nav-list {
  width: 50%;
  display: flex;
  align-items: center;
}

.nav-list li {
  list-style: none;
  padding: 22px 12px;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}
.nav-list li a:hover {
  color: red;
  cursor: pointer;
}
.rightNav {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
  text-align: right;
  padding: 0 25px;
}

.rightNav input::placeholder {
  font-size: 1.1rem;
}

#search {
  padding: 7px;
  margin: 4px;
  margin-top: 10px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
}
.background {
  background: rgba(0, 0, 0, 0.6) url("../img/Background-image.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
.firstSection {
  height: 80vh;
}
.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50vw;
  margin: auto;
  height: 65vh;
}
.firstHalf {
  width: 80%;
  height: 65%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.secondHalf {
  width: 50%;
}
.secondHalf img {
  width: 100%;
  padding: 5px;
  border: 2px solid white;
  border-radius: 20px;
  display: block;
  margin: auto;
}
.text-big {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  color: red;
}
.text-small {
  font-size: 18px;
}
ion-icon {
  font-size: 2.8rem;

  color: red;
}

.btn {
  padding: 10px 20px;
  margin: 20px 2px;
  border: 3px outset red;
  color: black;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 30px;
  font-size: 15px;
  background-color: red;
  transition: all 4ms ease-in;
}
.btn-sm {
  padding: 10px 10px;

  vertical-align: middle;
}
.btn:hover {
  transform: translateY(-3%);
  background-color: rgba(255, 0, 0, 0.863);
  color: black;
}

.section {
  /* height: 500px; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

.section-Left {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
  flex-direction: row-reverse;
}
/* .sectionTag {
  padding: 20px 0px;
} */
.thumbnail {
  margin-left: 100px;
}
.thumbnail img {
  width: 80%;
  border: none;
  border-radius: 20px;
}
.mobile-image img {
  width: 60%;
}
.text-big-II {
  font-size: 45px;
  font-weight: bolder;
  padding: 10px;
  color: aliceblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.text-small-II {
  font-size: 18px;
  font-family: "Ubuntu", sans-serif;
  color: aliceblue;
}
.paras {
  padding: 0px 70px;
}
.subscription {
  background-color: rgb(29, 28, 28);
  height: 533px;
}
.text-aline {
  text-align: center;
  padding: 30px;
  font-family: "Ubuntu", sans-serif;
  color: red;
  font-size: 2rem;
}
.form {
  max-width: 500px;
  margin: auto;
}
.form input {
  width: 100%;
  padding: 10px;
  margin: 15px 0px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
.form input::placeholder {
  text-align: center;
  font-size: 1.1rem;
}
.btn-light {
  border: 2px solid rgb(255, 3, 3);
  color: rgb(248, 2, 2);
}
.text-footer {
  text-align: center;
  padding: 30px 0px;
  font-family: "Ubuntu", sans-serif;
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 4%;
  top: 20%;
}
.line {
  width: 15px;
  background-color: rgb(255, 0, 0);
  height: 15px;
  padding: 2px;
  margin: 8px;
  border: none;
  border-radius: 100px;
}
@media screen and (max-width: 1000px) {
  .nav-list {
    flex-direction: column;
  }
  .burger {
    display: block;
  }
  .burger .line {
    border-radius: 20px;
  }
  .navbar {
    height: 55vh;
    margin: auto;
    flex-direction: column;
    transition: all 0.3s ease-out;
  }
  .navbar .nav-list li a {
    font-size: 3.5rem;
    padding: 20px;
  }

  .rightNav {
    text-align: center;
    font-size: 2rem;
  }
  .btn {
    margin-top: 10px;
    width: 50%;
    height: 5vh;
    font-size: 3rem;
    border-radius: 50px;
  }

  #search {
    width: 100%;
    height: 4vh;
    padding: 10px;
    border-radius: 50px;
  }
  ion-icon {
    font-size: 10rem;
  }
  #search::placeholder {
    font-size: 2.8rem;
    padding: 20px;
  }
  .h-nav-resp {
    height: 8vh;
  }
  .v-class-resp {
    opacity: 0;
  }
  .logo {
    width: 150%;
    height: 100%;
    margin-top: 20px;
  }
  .box-main {
    flex-direction: column;
    max-width: 100%;
    padding-top: 15%;
  }
  .section {
    flex-direction: column-reverse;
  }
  .secondHalf {
    width: 65%;
    margin-top: 50px;
  }
  .text-small {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10%;
  }
  .text-big {
    text-align: center;
    font-size: 7.8rem;
    margin-bottom: 50px;
  }
  .text-small-II {
    text-align: left;
    font-size: 2.2rem;
    margin-bottom: 45%;
  }
  .text-big-II {
    text-align: left;
    font-size: 2.8rem;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
  }
  .button {
    text-align: center;
  }
  .mobile-image img {
    width: 60%;
    margin: 20px;
  }
  .tv-image {
    margin-top: 50px;
  }
  .paras {
    padding: 0;
  }
  .subscription {
    padding: 0;
    margin: 50px;
    height: 37vh;
  }
  .subscription .text-aline {
    font-size: 5rem;
  }
  .form input[type="text"],
  input[type="password"],
  input[type="email"] {
    /* padding: 0; */
    margin: 20px;
    width: 110%;
    height: 3vh;
    border-radius: 8px;
    padding: 20px;
  }
  .form input[type="text"]::placeholder {
    font-size: 1.8rem;
  }
  input[type="password"]::placeholder {
    font-size: 1.8rem;
  }
  input[type="email"]::placeholder {
    font-size: 1.8rem;
  }
  .subscribe-btn {
    width: 60%;
  }
  footer {
    height: 12vh;
  }
  .text-footer {
    font-size: 3.2rem;
  }
}
