:root{
  --background:#0c0a09;
  --input-background:#71717a;
  --bg-red:#dc2626;
  --bg-red-hover:rgba(233, 7, 7, 0.878);
  --text-red:#dc2626;
}
.background-color{
  background-color: var(--background);
}
.subscribe-input-color{
  background-color: var(--input-background);
}
.background {
  background: rgba(0, 0, 0, 0.6) url("../img/Background-image.jpg");
  background-size: cover;
  background-blend-mode: darken;
  
}
.red-btn{
  background-color: var(--bg-red);
}
.red-btn:hover{
  background-color: var(--bg-red-hover);
}
.red-text{
  color: var(--text-red);
}